.attributes-block {
  margin-top: 20px;
}

.attributes {
  display: flex;
  padding: 5px 0;
  column-gap: 10px;
}

.attributes-item {
  border: 1px solid var(--c-text);
  padding: 13px 20px;
  cursor: pointer;
  height: 45px;
}

.attribute-name {
  margin-bottom: 5px;
}