.details {
  margin-left: 100px;
}

.name {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.brand {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-top: 16px;
  display: block;
  margin-bottom: 40px;
}

.price-name {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 45px;
  text-transform: uppercase;
}