.nav {
  display: flex;
  gap: 32px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  height: 100%;
}

.nav-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.active-nav {
  color: var(--c-primary);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border-bottom: 2px solid var(--c-primary);
}