* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-text: #1D1F22;
  --c-primary: #5ECE7B;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--c-text);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px 100px;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--c-text);
}

.thumbnails::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.thumbnails::-webkit-scrollbar-track {
  background: rgb(231, 231, 231);        /* color of the tracking area */
  border-radius: 20px;
}

.thumbnails::-webkit-scrollbar-thumb {
  background-color: var(--c-primary);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}